<link rel="stylesheet" href="<%= assetPath('css/user_profile.css')%>">
<div class="left">
    <img src="<%= requested_user.avatar%>" alt="Avatar" class="avatar">
</div>
<div class="middle">
    <% if(locals.user.id ==  requested_user.id){ %>
        <h1>Profile Update</h1>
        <form action="/user/update-profile/<%=locals.user.id%>" class="profile-update" method="post" enctype="multipart/form-data">
        
            <div><input type="text" name="name" value="<%= locals.user.name%>" required></div>
            <div><input type="email" name="email" value="<%= locals.user.email%>" required></div>
            <div><input type="file" name="avatar" placeholder="Profile Picture"/></div>
            <input type="submit" value="Update" >
        
        </form>
    
    <% } else {%>
        <h1>Codeial / Profile Page</h1>
        <h3><%= requested_user.name%></h3>
        <h3><%= requested_user.email%></h3>
    <% } %>
</div>
<div class="right"></div>